<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javen.dao.UserMapper">
    <resultMap id="userMap" type="com.javen.model.User">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="password" column="pass_word" jdbcType="VARCHAR"/>
        <result property="age" column="age" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="allColumns">
		id,user_name,pass_word,age
	</sql>

    <select id="selectByPrimaryKey" parameterType="int" statementType="CALLABLE" resultMap="userMap">
        select <include refid="allColumns"/> from user_t where id = #{id}
    </select>
</mapper>